<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>LOGIN</title>
</head>

<body>
    <form method="POST" action="\register">
        <h1>REGISTER</h1>
        <?php if(isset($messages)) : ?>

        <p class="messages">
            <?= $messages ?>
        </p>

        <?php endif; ?>
    
        <input name="email" type="email" placeholder="Twój email">
        <input name="password" type="password" placeholder="Twoje hasło">
        <input name="password2" type="password" placeholder="Powtórz hasło">
        <input name="firstname" type="text" placeholder="Imię">
        <input name="lastname" type="text" placeholder="Nazwisko">

        <button type="submit">LOGIN</button>
    </form>
</body>

</html>