
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important; 
}

body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #F472B6; 
    --text-color: #333;
    --bg-color: #fff;
}

/* RESPONSYWNA TYPOGRAFIA */

@media (min-width: 1200px) {
    html {
        font-size: 18px; 
    }
}