.profile-form-container {
    max-width: 700px;
    margin: 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 120px;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}

.profile-layout {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.profile-left {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    width: 140px;
    height: 140px;
}

.avatar-img, .avatar-placeholder-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f3f4f6;
}

.avatar-placeholder-circle {
    background: #ec4899;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.edit-photo-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #111827;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid white;
    z-index: 10;
}

.avatar-hint {
    margin-top: 15px;
    font-size: 0.85rem;
    color: #6b7280;
}

.profile-right { flex: 1; }

.simple-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.simple-form label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
}

.simple-form input {
    padding: 12px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background: #f9fafb;
}

.simple-form input:disabled {
    background-color: #f3f4f6;
    color: #9ca3af;
}

.update-btn {
    padding: 14px;
    border-radius: 12px;
    background: #ec4899;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.dark-btn { background: #111827; }


@media (max-width: 600px) {
    .profile-layout {
        flex-direction: column;
        align-items: center;
    }
    
    .profile-left {
        margin-bottom: 30px;
    }
    
    .avatar-wrapper {
        width: 100px; 
        height: 100px;
    }
    
    .edit-photo-badge {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
}

@media (max-width: 360px) {
    .profile-form-container {
        padding: 15px;
        box-shadow: none; 
    }

    .avatar-wrapper {
        width: 100px; 
        height: 100px;
    }

    .edit-photo-badge {
        width: 32px; height: 32px;
    }

    .simple-form input {
        padding: 10px; 
    }
}
